* {
  font-family: cursive;
  text-align: center;
}

body {
  border-style: ridge;
  border-color: turquoise;
}
#header {
  font-size: 64px;
  color: purple;
}

#assignments {
  font-size: 36px;
  color: blue;
}

a:hover, a:visited:hover {
  color: rgb(0,130,0);
}

a:visited {
  color: dodgerblue;
}

a:active, a:visited:active{
  color:rgb(0,60,0);
}
