* {
  border: 1px solid rgb(160,160,160) !important;
  padding: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width:580px) {
  .row{flex-direction: column;}
  .col-2, .col-4, .col-6, .col-8, .col-10 {width: 100% !important;}
}

#grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: auto;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}

/***** Columns *******/
.col-2 {width: 16.66%;}
.col-4 {width: 33.33%;}
.col-6 {width: 50%;}
.col-8 {width: 66.66%;}
.col-10 {width: 83.33%;}
